.leftside{
    display: grid;
    width: 50%;
    grid-template-columns: auto auto;
    gap: 20px;
}
.leftside img {
    width: 50vh;
}
.sizebox{
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid lightgrey;
    margin:0px 20px;
}
.leftrightcontainer{
    margin: 30px;
    display: flex;
    flex-direction: row;
}
.rightside{
    margin: 30px;
}
.productdescription{
    color: darkgrey;
    line-height: 1.8rem;
    font-size: 20px;
}
.productname{
    font-size: 30px;
}
.price{
    margin-bottom: 20px;
}

.sizeboxcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

